
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Inline Table Editing</h3>
      <p class="text-center">Way-1 :- Table Edit by using edit button</p>
      <p class="text-center">Way-2 :- Table can Edit by double clik on row, this is a inline table edit </p>
    </div>
  </div>
  <ul class="nav nav-pills nav-justified mt-4">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/Way-1">Way 1</a>
    </li>
    <li class="nav-item bg-success">
      <a class="nav-link text-white"> Inline Editing Angular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/Way-2">Way 2</a>
    </li>
  </ul>
</div>
<div class="container-fluid mt-2">
  <router-outlet></router-outlet>
</div>

